.location-Container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;


    .location-wrapper {
        margin: auto;
        border: none;
        padding: .5rem 1rem;
        border-radius: 10px;
        line-height: 1.8;
        letter-spacing: 1.8px;
        background-color: $savebttn-bg-color;
        color: $savebttn-font-color;
        box-shadow: 2px 2px 25px #6119FF;
        width: 40%;
    }

    #location-Details {
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        #location-Humidity,
        #feels_like,
        #localHiLo{
            letter-spacing: 1.8px;
            border-radius: 5px;
            background-color: $light-background-color;
            width: 40%;
            padding: 1rem 0;
            margin: .5rem;
        }
    }
}